page-testhistory {
 .rows-data{
         text-align: center;
         background: white;
         font-weight: 900;
         color: blue;
 }

 .column-data{
     border: 1px solid #e8e8f4;
 }

     .urdu{
                    font-family: 'PakNastaleeq';
                    font-weight: 700;
                }

        .punjabi{
        font-family: 'AnmolLipiThickTight'
    }

        .hindi{
        font-family: 'AnmolLipi';
    }

    .test-history-row{
        background: white;
        text-align: center;
        font-weight: 500;
    }
}
