<!--
  Generated template for the Testhistory page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img"/>
    <button icon-only menuToggle show right class="mymenu-button">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content class="home-backgorund">

    <ion-label class="home-label-head">Test History</ion-label>


    <div class="home-contianer" style="padding: 0 10px !important">

      <div class="home-container-wrapper">

              <ion-row class="rows-data">
                  <ion-col width-33 class="column-data">Test Date</ion-col>
                  <ion-col width-33 class="column-data">Test Name</ion-col>
                  <ion-col width-33 class="column-data">Status</ion-col>
              </ion-row>


              <ion-row class="test-history-row" *ngFor="let testdata of testhistorydata">
                  <ion-col width-33 class="column-data">{{testdata.started_at}}</ion-col>
                  <ion-col width-33 class="column-data " *ngIf="testdata.test_locale == 'en'">{{testdata.test_name}}</ion-col>
                  <ion-col width-33 class="column-data urdu" *ngIf="testdata.test_locale == 'ur'">{{testdata.test_name}}</ion-col>
                  <ion-col width-33 class="column-data hindi" *ngIf="testdata.test_locale == 'hi'">{{testdata.test_name}}</ion-col>
                  <ion-col width-33 class="column-data punjabi" *ngIf="testdata.test_locale == 'pa'">{{testdata.test_name}}</ion-col>
                  <ion-col width-33 class="column-data" *ngIf="testdata.completed == false">Incomplete</ion-col>
                  <ion-col width-33 class="column-data" *ngIf="testdata.completed == true">Complete</ion-col>
              </ion-row>

        </div>
    </div>
      
</ion-content>

<!-- Loader popup-->
<div class="my-content loading" [hidden] = "loader">
 
  <ion-spinner name="bubbles"></ion-spinner>
    <div style="color: white"> Loading</div></div>