page-login {
    .scroll-content{
        white-space: nowrap;
        overflow: hidden !important;
        }
    .scroll-content:after{
        content: '';
        height:100% !important;
        display: inline-block;
        vertical-align: middle;
        width: 1%;
        margin: 0 0 0 -4px;
        position: static !important;
    }
    .login-data-div{
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        width: 100%;
    }
}
