<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img"/>
  </ion-navbar>

</ion-header>


<ion-content class="background-img">

  <div class="login-data-div">
    <ion-label class="login-main-label">DMV Written Test</ion-label>

    <ion-label class="login-label">Please enter your login details below</ion-label>

<form (ngSubmit)="loginForm()" #registerForm="ngForm"  style="padding-bottom: 120px; position: relative;">
     <div class="login-item">
        <ion-avatar left>
          <img src="assets/img/login-icon.png" class="login-icons"/>
        </ion-avatar>
        <ion-input type="email" placeholder="Email *" class="login-input" [(ngModel)]="user_email" name="email" required></ion-input>
     </div>

      <div class="login-item">
        <ion-avatar left>
          <img src="assets/img/password-icon.png" class="login-icons"/>
        </ion-avatar>
        <ion-input type="password" placeholder="Password *" class="login-input" [(ngModel)]="user_password" name="password" required></ion-input>
      </div>

      <ion-label class="forget-label" (click)="forgetpass()" >Forgot Password?</ion-label>


      <div class="button-button">
            <button ion-button type="submit" [disabled]="!registerForm.form.valid">LOGIN</button>
      </div>

      <div class="create-div" (click)="registernow()">
         Don't have an Account? <ion-label class="create-label"> Create New</ion-label>
      </div>


</form>


  </div>

</ion-content>

<!-- Loader popup-->
<div class="my-content loading" [hidden] = "loader">

  <ion-spinner name="bubbles"></ion-spinner>
    <div style="color: white"> Loading</div></div>
