page-hindiquestion {

    .hindi{
        font-family: 'AnmolLipi';
    }
.radio-label-answer{
        white-space: normal;
        font-weight: 600;
    }

    .img_div{
    display: inline-block;
    height: 80px;
    width: 80px;
    background: #20087e;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 15px;
    margin-right: 15px;
    }

   .audio-img{
    height: 50px;
    padding: 9px 15px;
    overflow: hidden;
    margin-top: 6px;
   }

   .audio-label{
       margin: -6px 8px !important;
       font-size: 9px;
   }

   .left-icon{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #ed1c24;
    border-radius: 50%;
    color: white;
    font-size: 40px;
   }

   .main-div-audio{
       margin-bottom: 10px;
   margin-top: 30px;
    text-align: center;
    clear: both;
   }

.correctanswer .item-inner .radio-inner, .wronganswer .item-inner .radio-inner {
    background-color: #fff !important;
    border-color: #fff !important;
}

}
