<!--
  Generated template for the Payments page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img"/>
      
  </ion-navbar>

</ion-header>


<ion-content class="background-img" id="conditions">
      <ion-label class="login-main-label">Payment Info</ion-label>

      <ion-label class="login-label" style="padding: 10px; white-space: normal;">Accepted payment methods are	Visa, MasterCard, American Express, Discover, JCB, eCheck</ion-label>

       <b>  <ion-label class="login-label" style="padding: 10px; white-space: normal;">Subscription charges ${{charges}} for {{duration}} months</ion-label></b>
              <div class="login-item">
                <ion-avatar left>
                  <img src="assets/img/visa.png" class="login-icons"/>
                </ion-avatar> 
                <ion-input type="number" placeholder="Card Number without spaces*" class="login-input" required [(ngModel)]="cardnumber" name="card_number"></ion-input>
              </div>

               <div class="login-item">
                <ion-avatar left>
                  <img src="assets/img/calendar.png" class="login-icons"/>
                </ion-avatar> 
                <ion-datetime max="{{max}}" displayFormat="MMYY" placeholder="Expiry Date (MMYY)*" class="login-input date_picker_class" [(ngModel)]="expirydate" name="myDate" required></ion-datetime>
              </div>

               <div class="login-item">
                <ion-avatar left>
                  <img src="assets/img/card_verification_value.png" class="login-icons"/>
                </ion-avatar> 
                <ion-input type="password" placeholder="Card CVV Code*" class="login-input" required [(ngModel)]="cardcode" name="cvv_code" maxlength="4"></ion-input>
              </div>

               <div class="login-item agree">

                    <ion-checkbox color="Local_Driving_Header" style="margin: 2px 30px 0px 4px; float: left;" [(ngModel)]="checkboxvalue" (ionChange)="updateCucumber()"></ion-checkbox>
                    <ion-label>I Agree with <span (click)="openpopup()" class="terms"> Terms & Conditions</span></ion-label>
                    
               </div>


             <div class="button-button" style="padding: 0 32px !important;">
                  <button ion-button style="background-color: #ed1c24;" (click)="paymentsubmit()">Create Account</button>
              </div>


</ion-content>

<!-- Terms & Condition Popup -->
<div  class="my-content" [hidden]="term_popup">
   <div class="my-inner-wrapper" style="height: 250px;
    width: 80%;
    top: 25%; ">
  <ion-header>
 <ion-navbar color="Local_Driving_Header"> 
   <ion-buttons end >
      <button ion-button clear (click)="close()">
        <ion-icon color="white" name="close" ></ion-icon>
      </button>
    </ion-buttons>
   <div class="not_connect">
 <ion-title style="padding:0">Terms & Conditions</ion-title></div>
 </ion-navbar>
</ion-header>
<ion-content style="top: 80px !important; background: none">
  <div>Local Driving School has developed a refund/ cancellation policy based on understanding and fairness for both the parties. Please review the following policy before signing up for the class. We encourage you to ask questions about our cancellation policy before hand.</div>
  <div style="font-weight: 600;">"We have a NO REFUND POLICY."</div>
</ion-content>
   </div>
</div> 







