page-payments {
.date_picker_class{
    color: #a7a7d1 !important;
    font-size: 12px;
    margin-bottom: 10px;
}
.datetime .datetime-placeholder {
     color: #a7a7d1; 
}

    .checkbox-md .checkbox-icon, .checkbox-ios .checkbox-icon {
    position: relative;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #0598a8 !important;
    background-color:inherit;
    transition-duration: 280ms;
    transition-property: background;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 10px;
}
.login-item.agree{padding:1px 0 10px;
                    font-size: 12px;}
.login-item.agree .item{padding-left: 0 !important;}
.login-item.agree .item .checkbox{margin-right: 30px !important;}
.terms{
    font-weight: 600;
    color: #c69447;
    border-bottom: 1px solid #c69447;
    font-size: 13px;
}
}
