page-editprofile {

.login-item {
    color:  #81819f;
    font-size: 16px;
    border-bottom: 1px solid #ceceed;
        margin: 0px 20px !important;
}

.select .select-placeholder {
    color: #81819f !important;
    font-size: 13px;
}

    }

