page-feedback {

    .feedback{
            border-bottom: 1px solid #ceceed;
    }

    .textareacomment{
        margin: 5px 0 !important;
        border-bottom:1px solid #ceceed;
        height: 200px;
    }

    .select .select-placeholder {
        color: #81819f !important; 
        font-size: 15px;
        padding: 0 9px;
    }

   

}
