<!--
  Generated template for the Feedback page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img"/>
    <button icon-only menuToggle show right class="mymenu-button">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content class="home-backgorund">

    <ion-label class="home-label-head">Feedback</ion-label>

    <div class="home-contianer" style="padding: 0 20px">
      <div class="home-container-wrapper">

  <ion-item class="feedback">
        <ion-select [(ngModel)]="feedbacktype" (ngModelChange)="onTypeSelectedtype($event)" placeholder="Select Type" class="select-list-data" style="padding:0">
          <ion-label>Select Type</ion-label>
          <ion-option>Suggestion</ion-option>
          <ion-option>Complaints</ion-option>
          <ion-option>Others</ion-option>
        </ion-select>
  </ion-item>

  <ion-item class="textareacomment">
    <ion-textarea placeholder="Comment" [(ngModel)]="comment"></ion-textarea>
  </ion-item>


      </div>

       <div class="button-button2">
          <button ion-button style="background-color: #ed1c24;" (click)="send()">Send</button>
      </div>
    </div>

</ion-content>
<!-- Loader popup-->
<div class="my-content loading" [hidden] = "loader">
 
  <ion-spinner name="bubbles"></ion-spinner>
    <div style="color: white"> Loading</div></div>