<!--
  Generated template for the Punjabiquestion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img logo-img1"/>
  </ion-navbar>

</ion-header>


<ion-content class="home-backgorund">
<div [hidden]="questions">
  <ion-label class="test-question-label punjabi">ਸਵਾਲ <span class="punjabi" style="font-size: 20px">({{totalquestions}} ਦੇ ਪ੍ਰਸ਼ਨ {{counter}})</span></ion-label>
  <div>
        <div style="padding: 10px;">
              <img [hidden]="imagehidden" src="https://dmvtest.localdriving.com/images/question/{{question_image}}"/>
              <p class="punjabi m-t-10">{{question}}</p>
          </div>

        <ion-label class="test-ans-test punjabi">ਜਵਾਬ</ion-label>

              <div class="test-Container">

                            <div class="home-container-wrapper">
                            <ion-list radio-group>
                              <ion-item id="abc-{{i}}" class=" input-item-radio" *ngFor="let answerdata of answers; let i = index">
                                <ion-radio class="radio_icon" (click)="radioClicked(answerdata.correct,i)"></ion-radio>
                                <ion-label class="radio-label-answer">{{answerdata.answer}}</ion-label>
                              </ion-item >
                          </ion-list>

                        </div>



                        <div class="main-div-audio">
                          <div class="left-icon" (click)="previousquestion()">
                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                          </div>

                          <div class="img_div" (click)="audioplay(musicfile)">
                            <img src="assets/img/audio.png" class="audio-img"/>
                            <ion-label class="audio-label">Audio Hint</ion-label>
                          </div>

                          <div class="left-icon" (click)="nextquestion(test_id)">
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                          </div>
                        </div>

                </div>
  </div>

</div>
 <div [hidden]="noquestions" class="noquestion punjabi"> ਕੋਈ ਸਵਾਲ ਨਹੀਂ ਮਿਲਿਆ ਕਿਰਪਾ ਕਰਕੇ ਹੋਰ ਟੈਸਟ ਕਰਨ ਦੀ ਕੋਸ਼ਿਸ਼ ਕਰੋ. </div>

</ion-content>
<!-- Loader popup-->
<div class="my-content loading" [hidden] = "loader">

  <ion-spinner name="bubbles"></ion-spinner>
    <div style="color: white"> Loading</div></div>

     <!-- Terms & Condition Popup -->
<div  class="my-content" [hidden]="answerselect">
   <div class="my-inner-wrapper" style="height: 150px;
    width: 80%;
    top: 25%; ">
  <ion-header>
 <ion-navbar color="Local_Driving_Header">
   <ion-buttons end >
      <button ion-button clear (click)="close()">
        <ion-icon color="white" name="close" ></ion-icon>
      </button>
    </ion-buttons>
   <div class="not_connect">
 <ion-title style="padding:0">ਜਵਾਬ ਚੁਣੋ</ion-title></div>
 </ion-navbar>
</ion-header>
<ion-content style="top: 80px !important; background: none">
  <div>ਅਗਲਾ ਸਵਾਲ ਦੇਖਣ ਲਈ ਕਿਰਪਾ ਕਰਕੇ ਇੱਕ ਸਹੀ ਉੱਤਰ ਚੁਣੋ</div>
</ion-content>
   </div>
</div>


<!-- save test Popup -->
<div  class="my-content" [hidden]="savetest">
   <div class="my-inner-wrapper" style="height: 180px;
    width: 80%;
    top: 25%; ">
  <ion-header>
 <ion-navbar color="Local_Driving_Header">
   <ion-buttons end >
      <button ion-button clear (click)="close()">
        <ion-icon color="white" name="close" ></ion-icon>
      </button>
    </ion-buttons>
   <div class="not_connect">
 <ion-title style="padding:0">ਸਥਿਤੀ</ion-title></div>
 </ion-navbar>
</ion-header>
<ion-content style="top: 80px !important; background: none">
  <div class="punjabi">ਕੀ ਤੁਸੀਂ ਇਹ ਟੈਸਟ ਅਧੂਰਾ ਛੱਡਣਾ ਚਾਹੋਗੇ?</div>
  <div style="margin: 10px 0;">
    <button ion-button class="popup_savetest punjabi" (click)="posttest()">
ਹਾਂ </button>
    <button ion-button class="popup_savetest punjabi" (click)="staypage()">
ਨਹੀਂ </button>
  </div>
</ion-content>
   </div>
</div>
