<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img"/>
    <button icon-only menuToggle show right class="mymenu-button">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content class="home-backgorund">
    <ion-label class="home-label-head">Profile</ion-label>

    <ion-label class="home-label-subhead">Your Account Information</ion-label>

    <div class="home-contianer">

      <div class="home-container-wrapper">
     
     <ion-list>
              <ion-item class="input-item-list-ltr  label-kind ">
                <ion-label style="white-space: normal; font-size: 15px;">Name: {{name}}</ion-label>
              </ion-item >

               <ion-item class="input-item-list-ltr  label-kind ">
                <ion-label style="white-space: normal; font-size: 15px;">Cell No: {{phone}}</ion-label>
              </ion-item >

               <ion-item class="input-item-list-ltr  label-kind ">
                <ion-label style="white-space: normal; font-size: 15px;">Email: {{email}}</ion-label>
               </ion-item >

               <ion-item class="input-item-list-ltr  label-kind ">
                <ion-label style="white-space: normal; font-size: 15px;">Address: {{address}}</ion-label>
              </ion-item >

               <ion-item class="input-item-list-ltr  label-kind ">
                <ion-label style="white-space: normal; font-size: 15px;">City: {{city}}</ion-label>
              </ion-item >

               <ion-item class="input-item-list-ltr  label-kind ">
                <ion-label style="white-space: normal; font-size: 15px;">State: {{state}}</ion-label>
              </ion-item >

              <!--
               <ion-item class="input-item-list-ltr  label-kind ">
                <ion-label>Subscription: {{subscription}}</ion-label>
              </ion-item >
              -->

              <ion-item class="input-item-list-ltr  label-kind ">
                <ion-label style="white-space: normal; font-size: 15px;">Registration: {{subscription_date}}</ion-label>
              </ion-item >

              <!--
              <ion-item class="input-item-list-ltr  label-kind ">
                <ion-label>Expiry: {{subscription_expiry}}</ion-label>
              </ion-item >
              -->


          </ion-list>

      </div>


       <div class="button-button2">
            <button ion-button style="background-color: #ed1c24;" (click)="editprofile(name,phone,email,address,city,state)">Edit Profile</button>
       </div>

    </div>


</ion-content>
