<!--
  Generated template for the Registration page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img"/>
  </ion-navbar>

</ion-header>


<ion-content class="background-img">
      <ion-label class="login-main-label">Create an Account</ion-label>

      <ion-label class="login-label" style="white-space: normal;"> Please enter the following information</ion-label>

      
       <form (ngSubmit)="registration()" #registerForm="ngForm">
              <div class="login-item">
                  <ion-avatar left>
                    <img src="assets/img/fullname.png" class="login-icons"/>
                  </ion-avatar> 
                  <ion-input type="text" placeholder="Full Name *" class="login-input" [(ngModel)]="user_full_name" name="full_name" required></ion-input>
              </div>
              
              
              <div class="login-item">
                  <ion-avatar left>
                    <img src="assets/img/login-icon.png" class="login-icons" style="width: 25px"/>
                  </ion-avatar> 
                  <ion-input type="email" placeholder="Email *" class="login-input" [(ngModel)]="user_email" name="email" required ></ion-input>
              </div>

              <div class="login-item">
                <ion-avatar left>
                  <img src="assets/img/password-icon.png" class="login-icons" style="width: 25px"/>
                </ion-avatar> 
                <ion-input type="password" placeholder="Password *" class="login-input" required [(ngModel)]="user_password" name="password" minlength="6"></ion-input>
              </div>

               <div class="login-item">
                <ion-avatar left>
                  <img src="assets/img/cellphone.png" class="login-icons"/>
                </ion-avatar> 
                <ion-input type="number" placeholder="Cell Number *" class="login-input" required [(ngModel)]="user_phone_number" name="cell_number"></ion-input>
              </div>

               <div class="login-item">
                <ion-avatar left>
                  <img src="assets/img/address.png" class="login-icons"/>
                </ion-avatar> 
                <ion-input type="text" placeholder="Address *" class="login-input" required [(ngModel)]="user_address" name="address"></ion-input>
              </div>

               <div class="login-item">
                <ion-avatar left>
                  <img src="assets/img/city.png" class="login-icons"/>
                </ion-avatar> 
                <ion-input type="Text" placeholder="City *" class="login-input" required [(ngModel)]="user_city" name="city"></ion-input>
              </div>


               <div class="login-item">
                 <ion-avatar left>
                  <img src="assets/img/country.png" class="login-icons"/>
                </ion-avatar> 

                  <ion-list style="margin: -1px 0 8px !important">
                    <ion-item class="item-registration" >
                      <ion-select [(ngModel)]="user_state" name="country" placeholder="State *" class="select-list-data">
                        <ion-label>State</ion-label>
                                  <ion-option value="Alabama">Alabama</ion-option>
                                  <ion-option value="Alaska">Alaska</ion-option>
                                  <ion-option value="Arizona">Arizona</ion-option>
                                  <ion-option value="Arkansas">Arkansas</ion-option>
                                  <ion-option value="California">California</ion-option>
                                  <ion-option value="Colorado">Colorado</ion-option>
                                  <ion-option value="Connecticut">Connecticut</ion-option>
                                  <ion-option value="Delaware">Delaware</ion-option>
                                  <ion-option value="District Of Columbia">District Of Columbia</ion-option>
                                  <ion-option value="Florida">Florida</ion-option>
                                  <ion-option value="Georgia">Georgia</ion-option>
                                  <ion-option value="Hawaii">Hawaii</ion-option>
                                  <ion-option value="Idaho">Idaho</ion-option>
                                  <ion-option value="Illinois">Illinois</ion-option>
                                  <ion-option value="Indiana">Indiana</ion-option>
                                  <ion-option value="Iowa">Iowa</ion-option>
                                  <ion-option value="Kansas">Kansas</ion-option>
                                  <ion-option value="Kentucky">Kentucky</ion-option>
                                  <ion-option value="Louisiana">Louisiana</ion-option>
                                  <ion-option value="Maine">Maine</ion-option>
                                  <ion-option value="Maryland">Maryland</ion-option>
                                  <ion-option value="Massachusetts">Massachusetts</ion-option>
                                  <ion-option value="Michigan">Michigan</ion-option>
                                  <ion-option value="Minnesota">Minnesota</ion-option>
                                  <ion-option value="Mississippi">Mississippi</ion-option>
                                  <ion-option value="Missouri">Missouri</ion-option>
                                  <ion-option value="Montana">Montana</ion-option>
                                  <ion-option value="Nebraska">Nebraska</ion-option>
                                  <ion-option value="Nevada">Nevada</ion-option>
                                  <ion-option value="New Hampshire">New Hampshire</ion-option>
                                  <ion-option value="New Jersey">New Jersey</ion-option>
                                  <ion-option value="New Mexico">New Mexico</ion-option>
                                  <ion-option value="New York">New York</ion-option>
                                  <ion-option value="North Carolina">North Carolina</ion-option>
                                  <ion-option value="North Dakota">North Dakota</ion-option>
                                  <ion-option value="Ohio">Ohio</ion-option>
                                  <ion-option value="Oklahoma">Oklahoma</ion-option>
                                  <ion-option value="Oregon">Oregon</ion-option>
                                  <ion-option value="Pennsylvania">Pennsylvania</ion-option>
                                  <ion-option value="Rhode Island">Rhode Island</ion-option>
                                  <ion-option value="South Carolina">South Carolina</ion-option>
                                  <ion-option value="South Dakota">South Dakota</ion-option>
                                  <ion-option value="Tennessee">Tennessee</ion-option>
                                  <ion-option value="Texas">Texas</ion-option>
                                  <ion-option value="Utah">Utah</ion-option>
                                  <ion-option value="Vermont">Vermont</ion-option>
                                  <ion-option value="Virginia">Virginia</ion-option>
                                  <ion-option value="Washington">Washington</ion-option>
                                  <ion-option value="West Virginia">West Virginia</ion-option>
                                  <ion-option value="Wisconsin">Wisconsin</ion-option>
                                  <ion-option value="Wyoming">Wyoming</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
               </div>
     
            <div class="button-button">
                  <button ion-button type="submit" [disabled]="!registerForm.form.valid" style="background-color: #ed1c24;">Continue</button>
            </div>
    </form>

</ion-content>

<!-- Loader popup-->
<div class="my-content loading" [hidden] = "loader">
 
  <ion-spinner name="bubbles"></ion-spinner>
    <div style="color: white"> Loading</div></div>