body{
    font-family:'Lato', sans-serif;
}

.header .back-button{
  position: absolute;
}

page-home {

}
//Header logo
.logo-img{
    padding: 5px 0px;
    width: 85px;
    margin-left: 10px;
    max-width: 100%;
    border: 0;
}

// .logo-img1{
//   margin-left: -50px;
// }


//Background Image
.background-img{
     background-image: url("../assets/img/background_image.jpg");
     background-size: cover;
     background-repeat: none;
 }

 .home-backgorund{
     background: #e8e8f4;
 }

//All labels
 .login-main-label{
     font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 700;
    margin-top: 55px !important;
 }
 .login-label{
     white-space: normal;
     font-size: 15px;
     color: white;
     text-align: center;
 }
 .forget-label{
     font-size: 15px;
     margin: 0px 8px 11px 0;
     padding: 0 22px;
     float: right;
     color: #c69447;
 }
.create-div{
    bottom: 0;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    font-size:15px;
}
 .create-label{
     margin: 0 8px;
     display: inline-block;
     color: #c69447;
     vertical-align: middle;
     font-size:15px;
     font-weight:700;
 }

 .home-label-head{
     font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
     color:#04048b;
     font-weight: 700;
 }


 .home-label-subhead{
     margin: 13px !important;
     white-space: normal;
     font-size: 17px;
     text-align: center;
     color:#4c4c4c;
     font-weight: 700;
 }

 .home-test-label{

      font-size: 15px;
     text-align: center;
     color:#393986;
     font-weight: 500;
 }

.label-kind{
    font-weight: 600;
    font-size: 20px;

}
 .test-question-label{
     margin: 0 !important;
    padding: 15px;
    font-size: 30px;
    font-weight: 500;
    color: #04048b;
    font-weight: 600;
 }

 .test-ans-test{
    margin: 0 !important;
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 500;
    color: #4c4c4c;
    font-weight: 600;
 }

//inputs
.login-input .text-input{
    padding: 5px 10px 12px 10px!important;
    font-size: 15px;
    width: calc(100% - 8px - 8px);
    margin: 10px 8px !important;
}

 //Items
 .login-item{
    color: white;
    position: relative;
    padding: 0px 0 0 30px;;
    background: none;
    font-size: 16px;
    border-bottom: 1px solid #0598a8;
    margin: 10px 30px !important;
}


 .login-icons{
    width: 30px;
    position: absolute;
    left: 2px;
    top: 7px;
 }
.item-registration .select .select-icon .select-icon-inner {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-top: 10px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    color: #0598a8;
    pointer-events: none;
}

.select-list-data{
        width: 100%;
        max-width: 100%;
}

.select .select-placeholder {
    color: #fff !important;
    font-size: 13px;
}

.item-registration{
    background: transparent;
    padding: 0;
    border: none !important;
    color:#fff;
    font-size: 13px;
}

.select .select-icon {
    position: relative;
    width: 17px;
    height: 19px;
}


.list {
    overflow: hidden;
    margin: 0 0 10px 0;
}

//Buttons


.button-button{
    width: 100%;
    margin: 15px 0px !important;
    padding: 0 30px;
    border-radius:30px;

}

.button-button1 {
    width: 100%;
    margin: 15px 0px !important;
    padding: 0 45px;
    border-radius: 30px;
}

 .button-button2 {
    width: 100%;
    margin: 15px 0px !important;
    padding: 0 10px;

    }

.button-button .button, .button-button1 .button, .button-button2 .button{
    width: 100%;
    overflow: hidden;
    margin: 8px 0;
    padding: 0;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #c69447;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-button .button:after, .button-button1 .button:after, .button-button2 .button:after{
    content: '\f178';
    font-family: FontAwesome;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 18px;
    font-size: 30px;
}



//place Holder Color
input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
input[type=email]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
input[type=email]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
input[type=email]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

input[type=password]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
input[type=password]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
input[type=password]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
input[type=password]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}


input[type=number]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
input[type=number]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
input[type=number]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
input[type=number]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

//Alert Box
.alert-head {
    background: #04048b;
    padding: 24px 24px 20px 24px;
    text-align: left;
    color: white;
}

.alert-button-group {
    background: #04048b;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 8px 8px 8px 24px;
    color: white;
}

.alert-md .alert-button, .alert-ios .alert-button {
    border: none;
    position: relative;
    overflow: hidden;
    margin: 0 8px 0 0;
    padding: 10px;
    border-radius: 2px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
}


 //Home Container
        .home-contianer{
           margin: 25px 0;
           padding: 0 40px;
           vertical-align: middle;
           overflow: hidden;
           border-radius: 4px;

        }

        .home-container-wrapper{
                box-shadow: 0 0 15px #c7c7d2;
                margin-top: 10px;
        }

        .test-Container{
            padding: 0 13px;
            vertical-align: middle;
            overflow: hidden;
            border-radius: 4px;
        }


//Radio buttons

    .item-radio.item ion-label {
                font-size: 17px;
                margin-left: 35px !important;
                padding: 5px 0;
                color: #81819f;

            }



    .radio .radio-icon {

            top: 14px;
            left: 5px;
            display: block;
            margin: 0 10px !important;
            width: 24px;
            height: 24px;
            border-width: 1px;
            border-style: solid;
            border-radius: 50%;
            border-color: #81819f;
        }
    .radio-ios .radio-inner, .radio-md .radio-inner{
            top: 50% !important;
            left: 50% !important;
            position: absolute;
            width: 16px !important;
            height: 16px !important;
            border: none !important;
            border-radius: 50%;
            transform: translate(-50%,-50%) !important;
            -ms-transform: translate(-50%,-50%) !important;
            -webkit-transform: translate(-50%,-50%)!important;
            background:none;
    }

    .input-item-radio{
            display: block;
            width: 100%;
            float: left;
            position: relative;
            padding-left: 50px;
            border-bottom: 1px solid #ceceed;
        }

        .input-item-radio:first-child{
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        .input-item-radio:last-child{
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    .radio-icon{
            display: block;
            width: 16px;
            float: left;
            margin: 15px 11px 8px 8px;
            position: absolute !important;
            left: 12px;
            top: 5px;
        }

    .list .item-block .item-inner {
     border-bottom: none;
        }

    .item.item-block .item-inner {
            padding-right: 8px;
            border-bottom:none;
        }


    .radio-ios .radio-inner{
        background-color: transparent;
    }

    .radio .radio-checked{
        border-color: #42b31b;
    }
.radio-ios .radio-checked .radio-inner, .radio-md .radio-checked .radio-inner{
        border-color: #42b31b;
        background: #42b31b;
    }


    //List items

.languages_level .label-md, .languages_level .label-ios{
    position: relative;
        font-size: 17px;
         color: #81819f;
}

.languages_level .label-md:after, .languages_level .label-ios:after {
    content: '\f105';
    font-family: FontAwesome;
    position: absolute;
    z-index: 999;
    right: 0;
    top: -4px;
    font-size: 25px;
    color: #81819f;
}

.languages_level .label-md:before, .languages_level .label-ios:before {
    content: '\f104';
    font-family: FontAwesome;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 1px;
    font-size: 25px;
    color: #81819f;
}

.input-item-list-ltr{
    color: #404051;
    display: block;
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px solid #ceceed;


    .label-md:before, .label-ios:before{
        display: none;
    }
}

.input-item-list-rtl{
    color: #404051;
    display: block;
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px solid #ceceed;

    .label-md:after, .label-ios:after{
        display: none;
    }
}


//paragraph
p{
    padding: 0 17px;
    font-size: 15px;
    margin-top: -15px;
}


//
.hh{
    font-size: 50px;
    background: #ccc;
    /* width: 70px; */
    /* height: 70px; */
    border-radius: 50%;
    padding: 25px;
    bottom: 0;
    /* text-align: center; */
    /* top: 5px; */
}

/*
.item-radio-checked{
    background: #ccc;
}
*/

//tquestion no label
.test-number{
    text-align: center;
    font-size:10px;
    color: #545462;
}



// Active Or In Active Class

.incorrect {
 background : red;
 padding : 10px;
}
.correct {
  background : green;
  padding : 10px;
}


.noquestion{
    text-align: center;
    margin-top: 60%;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}


.loading{
    text-align: center;
    padding: 70% 0;
    font-size: 20px;
}

ion-spinner {
 // width: 28px;
 // height: 28px;
   stroke: #fff;
   fill: #fff;
 }

 .my-content{
    z-index: 9999;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(8, 10, 124, 0.4);
    background-color: rgba(28, 31, 155,0.6);
}
/*correction*/
.correctanswer{
    background: #54a20f;
    color: #fff;
}
.correctanswer .radio-label-answer, .wronganswer .radio-label-answer{color: #fff !important;}
.wronganswer{
    background: red;
    color: #fff;
}
.correctanswer .item-inner .radio-icon, .wronganswer .item-inner .radio-icon{border-color: #fff !important;}
.mymenu-button{
    color: white;
    background: none;
}
[show]{display:block!important;}
.login-input.payment-input input.text-input{
    background: #fff;
    border-bottom: 1px solid #ceceed;
    margin: 0 !important;
    width: 100%;
    height: 50px;
    padding: 13px 15px !important;
    line-height: 24px;
}

///popup my .container-wrapper

.my-inner-wrapper{
    position: relative;
    height: 60%;
    width: 280px;
    display: block;
    overflow: hidden;
    padding: 0 15px;
     background: #e8e8f4 !important;
    margin: 50px auto 0;
    border-radius: 7px;
}


.toast-ios .toast-message, .toast-md .toast-message{
      font-size: 20px !important;
      background: #c69447;
}
