<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img"/>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon ios="ios-power" md="md-power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="home-backgorund">

    <ion-label class="home-label-head">Welcome</ion-label>

    <ion-label class="home-label-subhead">Please select a language to proceed</ion-label>


    <div class="home-contianer">
      <div class="home-container-wrapper">
          <ion-list radio-group [(ngModel)]="languages">
              <ion-item class="input-item-radio label-kind">
                <ion-label>English</ion-label>
                <ion-radio value="en" checked></ion-radio>
              </ion-item >


              <ion-item class="input-item-radio label-kind">
                <ion-radio value="hi" ></ion-radio>
                <ion-label>Hindi</ion-label>
              </ion-item>


              <ion-item class="input-item-radio label-kind">
                <ion-radio value="pa" ></ion-radio>
                <ion-label>Punjabi</ion-label>
              </ion-item>

              <ion-item class="input-item-radio label-kind">
                <ion-radio value="ur" ></ion-radio>
                <ion-label>Urdu</ion-label>
              </ion-item>


          </ion-list>

      </div>
    </div>

    <div class="button-button1">
                  <button ion-button style="background-color: #ed1c24;" (click)="paypall()">Countinue</button>
    </div>
</ion-content>


<!-- Terms & Condition Popup -->
<div  class="my-content" [hidden]="languageselect">
   <div class="my-inner-wrapper" style="height: 150px;
    width: 80%;
    top: 25%; ">
  <ion-header>
 <ion-navbar color="Local_Driving_Header">
   <ion-buttons end >
      <button ion-button clear (click)="close()">
        <ion-icon color="white" name="close" ></ion-icon>
      </button>
    </ion-buttons>
   <div class="not_connect">
 <ion-title style="padding:0">Select Language</ion-title></div>
 </ion-navbar>
</ion-header>
<ion-content style="top: 80px !important; background: none">
  <div>Please select a language to proceed.</div>
</ion-content>
   </div>
</div>

