 <!-- <ion-menu side="left" [content]="content">
  <ion-header>
    <ion-toolbar color="Local_Driving_Header">
       <img src="assets/img/logo2.png" class="logo-img logo-img1" />
    </ion-toolbar>
  </ion-header>

  <ion-content class="home-backgorund">
    <ion-list  class="menu_items_wrapper">
       <button menuClose ion-item class="menu-buttons" (click)="home()"><ion-icon item-left name="home"></ion-icon>Home</button>
      <button class="menu-buttons" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item class="menu-buttons" (click)="logout()"><ion-icon item-left name="log-out"></ion-icon>Logout</button>
    </ion-list>
  </ion-content>

</ion-menu> -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
