<!--
  Generated template for the Selecttestpunjabi page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img logo-img1"/>
  </ion-navbar>

</ion-header>


<ion-content class="home-backgorund">

    <ion-label class="home-label-head punjabi">ਟੈਸਟ ਚੁਣੋ</ion-label>

    <ion-label class="home-label-subhead punjabi">ਕਿਰਪਾ ਕਰਕੇ ਅੱਗੇ ਵਧਣ ਲਈ ਇੱਕ ਟੈਸਟ ਦੀ ਚੋਣ ਕਰੋ</ion-label>

    <div class="home-contianer">

      <div class="home-container-wrapper">
          <ion-list>
              <ion-item class="input-item-list-ltr label-kind languages_level punjabi" *ngFor="let paSelect of punjabitest" (click)="punjabiquestion(paSelect.id,paSelect.test_name)">
                <ion-label>{{paSelect.test_name}}</ion-label>
              </ion-item >
          </ion-list>
      </div>
    </div>

</ion-content>

<!-- Loader popup-->
<div class="my-content loading" [hidden] = "loader">

  <ion-spinner name="bubbles"></ion-spinner>
    <div style="color: white"> Loading</div></div>
