@font-face {
  font-family: 'WebLipiHeavy';
  src: url('../assets/fonts/punjabi/WebLipiHeavy.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/punjabi/WebLipiHeavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/punjabi/WebLipiHeavy.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/punjabi/WebLipiHeavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/punjabi/WebLipiHeavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/punjabi/WebLipiHeavy.svg#svgFontName') format('svg'); /* Legacy iOS */
}


page-selecttestpunjabi {
    .punjabi{
        font-family: 'WebLipiHeavy'
    }

}
