page-urduquestion {

     .urdu{
                    font-family: 'PakNastaleeq';

                }

                .urdu-write{
                    text-align: right;
                    font-weight: 600;
                    margin-top: 10px;
                }

     .radio-label-answer{
        white-space: normal;
        font-weight: 600;

    }

    .img_div{
    display: inline-block;
    height: 80px;
    width: 80px;
    background: #20087e;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 15px;
    margin-right: 15px;
    }

   .audio-img{
    height: 50px;
    padding: 9px 15px;
    overflow: hidden;
    margin-top: 6px;
   }

   .audio-label{
       margin: -6px 8px !important;
       font-size: 9px;
   }

   .left-icon{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #ed1c24;
    border-radius: 50%;
    color: white;
    font-size: 40px;
   }

   .main-div-audio{
       margin-bottom: 10px;
   margin-top: 30px;
    text-align: center;
    clear: both;
   }
   .item-md .radio-md {

    top: 0;
    right: 0;
    display: block;
    margin: 9px 10px 9px 0;
}
.item-radio.item ion-label{
    direction: rtl;
    text-indent: 15px;
}
.item-radio.item .radio-icon{
    position: relative !important;;
}
.radio-md .radio-inner{
       top: 4px;
    left: auto;
    right: 4px;
}
.item-ios, .item-md{
        border-bottom: 1px solid #ccc;
}

.radio .radio-icon {
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 26px;
    height: 26px;
}

.correctanswer .item-inner .radio-inner, .wronganswer .item-inner .radio-inner {
    background-color: #fff !important;
    border-color: #fff !important;
}

}
