@font-face {
  font-family: 'AnmolLipi';
  src: url('../assets/fonts/hindi/AnmolLipi.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/hindi/AnmolLipi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/hindi/AnmolLipi.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/hindi/AnmolLipi.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/hindi/AnmolLipi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/hindi/AnmolLipi.svg#svgFontName') format('svg'); /* Legacy iOS */
}


page-selecttesthindi {
    
    .hindi{
        font-family: 'AnmolLipi';
    }
}
