<!--
  Generated template for the Selecttesthindi page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img logo-img1"/>
  </ion-navbar>

</ion-header>


<ion-content class="home-backgorund">

    <ion-label class="home-label-head hindi">सेलेक्ट टेस्ट</ion-label>

    <ion-label class="home-label-subhead hindi">कृपया आगे बढ़ने के लिए एक परीक्षण का चयन करें</ion-label>

    <div class="home-contianer">
      <div class="home-container-wrapper">
          <ion-list>
              <ion-item class="input-item-list-ltr label-kind languages_level hindi" *ngFor="let hiSelect of hinditest" (click)="hindiquestion(hiSelect.id,hiSelect.test_name)">
                <ion-label >{{hiSelect.test_name}}</ion-label>
              </ion-item >
          </ion-list>
      </div>
    </div>

</ion-content>

<!-- Loader popup-->
<div class="my-content loading" [hidden] = "loader">

  <ion-spinner name="bubbles"></ion-spinner>
    <div style="color: white"> Loading</div></div>
